[2020-08-03 16:55] rabernat opened #2 "Get CI working on this repo"
I am not able to get travis-ci.org working on this repo. I recommend we use this as a chance to migrate all the CI to github actions.

[2020-08-17 20:06] raphaeldussin opened #6 "maintainers' next meeting"
@rabernat @huard @stefraynaud @andersy005

we're starting to get some PRs in the pipeline, when would be a good time to do the next meeting?

[2020-08-17 20:11] andersy005 commented on #6
Would it be useful to set up a doodle https://doodle.com/ poll?

[2020-08-17 20:15] andersy005 commented on #6
http://whenisgood.net/ is another alternative

[2020-08-17 21:17] dcherian opened #7 "add regrid_like"
It would be nice to be able to do `ds.xesmf.regrid_like(ds2, "bilinear")`

This would be really powerful when composed with `cf_xarray`
`ds.xesmf.regrid_like(ds2.cf.rename_like(ds), "bilinear")`

[2020-08-18 14:42] rabernat commented on #6
Btw, you can tag @pangeo-data/xesmf to hit all the maintainers! I'd be happy to participate in another meeting.

[2020-08-18 15:48] raphaeldussin commented on #6
@pangeo-data/xesmf please let me know when you're free to e-meet

http://whenisgood.net/zqgdrpk

PRs https://github.com/pangeo-data/xESMF/pull/1 https://github.com/pangeo-data/xESMF/pull/3 https://github.com/pangeo-data/xESMF/pull/4 are all mature but the "masking update" PR will likely need a small update once the "weights in memory" PR is merged. The last one is just additional documentation.

[2020-08-18 16:54] #2 closed

[2020-08-18 17:12] andersy005 opened #8 "Enable documentation autobuild on Readthedocs"
Now that Readthedocs provides automatic build of documentation for pull requests: https://docs.readthedocs.io/en/stable/guides/autobuild-docs-for-pull-requests.html, it would nice to enable this feature for xesmf. This would allow us to easily validate some of the PRs (for instance, #4).

Apart from @JiaweiZhuang, is there anyone in @pangeo-data/xesmf with admin access to existing xesmf repo on Re

[2020-08-18 17:44] raphaeldussin commented on #8
not that I know of...

[2020-08-21 20:21] huard opened #9 "Add HISTORY file"
or CHANGES, or whats-new, file.

[2020-08-26 22:15] aulemahal opened #11 "Add Mesh support and a spatial averaging method"
Averaging some gridded data over a polygon is something that often comes up in our work at Ouranosinc (and elsewhere for sure). As fair as I know, there is no easy way to do this with xarray datasets.  There is clisops's `subset_shape` (that was in `xclim.subset` before), but it creates a boolean mask with Trues when the grid centroid falls in the polygon.  What we want is a weights map, the weigh

[2020-08-27 17:39] huard opened #13 "Specify minimum esmpy version required"
`setup.py` should set the minimum version required for esmpy.

[2020-08-31 15:27] raphaeldussin commented on #6
up

[2020-08-31 15:31] stefraynaud commented on #6
Back from holidays, I can attend to the meeting too.

[2020-08-31 15:47] rabernat commented on #6
Thanks for organizing this Raphael! I consider my role mainly as a coordinator. My goal is to help it transition from a one-person project to a community project. But I don't have time to work on xESMF directly. Therefore, I hope my presence is not necessary at the meeting. (Unfortunately I'm unavailable on Wednesday.)

You should all feel free to add to the meeting notes: https://docs.google.com/

[2020-08-31 20:24] andersy005 commented on #6
@raphaeldussin, what is the time zone? I am trying to determine whether I'll be able to attend.

[2020-09-01 17:27] raphaeldussin opened #15 "ESMF extrapolation"
ESMF v8+ have now an extrapolation scheme too.
I volunteer myself to look into it unless someone else has time to do it.

[2020-09-01 18:11] trondkr commented on #15
@raphaeldussin I have created a Jupyter notebook for testing extrapolation features of ESMF 8.0.1 with xesmf using the pull request JiaweiZhuang/xESMF#97 from @RondeauG. The test case can be downloaded from my Dropbox [here ](https://www.dropbox.com/sh/ftobbskdui7tcoe/AAAQwL5sq2JmjLsTuO4rxOmua?dl=0) and contains two small netcdf files for source and destination grids. The test interpolates oxygen

[2020-09-01 18:15] raphaeldussin commented on #15
@trondkr thanks a lot, this is very helpful!

[2020-09-01 23:23] andersy005 commented on #6
I have a time conflict on Wednesday 3pm ET :(

[2020-09-02 14:33] raphaeldussin commented on #6
I can push it to 4PM ET if @huard and @stefraynaud are ok.
I don't think anyone else if joining

[2020-09-02 19:41] #13 closed

[2020-09-02 19:49] raphaeldussin commented on #6
Next meeting scheduled for Sept 30 3:30PM ET

[2020-09-02 19:52] #9 closed

[2020-09-02 19:54] huard commented on #8
We might have to build the docs from another account until @JiaweiZhuang shares admin permissions.

[2020-09-02 19:57] huard opened #16 "Use cf-xarray to parse variable names and compute grid corners from bounds"
See
- https://github.com/xarray-contrib/cf-xarray/issues/71
- https://github.com/JiaweiZhuang/xESMF/pull/94

[2020-09-02 19:58] rabernat commented on #8
No, no one else has access.

[2020-09-02 19:58] huard opened #17 "Update CHANGES with previous changes"
Use information from https://github.com/JiaweiZhuang/xESMF/releases.

[2020-09-02 21:43] huard commented on #8
Created a new link for the docs: https://pangeo-xesmf.readthedocs.io/en/latest/index.html

Just enabled the build on PRs and added @andersy005 and @raphaeldussin as maintainers.

@andersy005 Can we add the RTD build to the CI checks ?

[2020-09-02 22:21] andersy005 commented on #8
I just enabled this option via RTD settings page. RTD check should starting appearing along side GitHub action CI checks on PRs.

[2020-09-02 23:27] huard commented on #8
Nice, thanks !

[2020-09-04 15:34] #17 closed

[2020-09-04 18:19] dcherian commented on #11
`regionmask` helps you do this when combined with `DataArray.weighted`: https://regionmask.readthedocs.io/en/stable/notebooks/mask_2D.html#calculate-weighted-regional-average

[2020-09-04 18:55] raphaeldussin opened #21 "add CREEP_FILL extrapolation method, needs https://github.com/esmf-org/esmf/pull/18"
once PR https://github.com/esmf-org/esmf/pull/18 is merged (and new ESMPy released?)
add the method to xESMF supported extrapolation methods

[2020-09-04 22:44] raphaeldussin commented on #8
does not seem to work on PR https://github.com/pangeo-data/xESMF/pull/22 unless I am missing something

[2020-09-04 22:59] andersy005 commented on #8
It appears that the RTD webhook wasn't properly set up on this repo. I re-synced the webhook and I am going to test it.

[2020-09-04 23:01] andersy005 commented on #8
It is working:

![Screen Shot 2020-09-04 at 5 01 01 PM](https://user-images.githubusercontent.com/13301940/92290128-3ea79600-eed0-11ea-91d9-4e99c5e18539.png)

[2020-09-05 17:20] raphaeldussin commented on #8
closing issue since it's working now!

[2020-09-05 17:20] #8 closed

[2020-09-11 16:13] raphaeldussin opened #25 "test_regrid in backend fails randomly in CI"
https://github.com/pangeo-data/xESMF/blob/c567f6eb0a1256cf887b64463ae4d263dc690255/xesmf/tests/test_backend.py#L176

maybe this should be changed to numpy.allclose ?

[2020-09-13 16:58] raphaeldussin commented on #15
fixed by #20

[2020-09-13 16:58] #15 closed

[2020-09-23 22:12] aulemahal opened #27 "Method to retrieve weights as a DataArray"
While coding the spatial averaging in #24, I realized that the Regridder object was missing an option to retrieve a usable array of the regridding weights. While this is not common when performing conventional regridding, I think that most users doing spatial averaging would like to see or save the weights masks.

The `Regridder` object could have a simple `get_weights` method that returns a DataA

[2020-09-30 15:23] raphaeldussin commented on #27
my understanding is that ESMF only produces 2d regridding matrices (I could be wrong).
The size of the sparse matrix being (nx_src * ny_src) x (nx_dst * ny_dst), are you suggesting something like:

[code]

[2020-09-30 15:27] raphaeldussin opened #28 "does periodic need to be false for conservative?"
https://github.com/pangeo-data/xESMF/blob/f9653558699d6a4da079088e9e77ec261458a0b7/xesmf/frontend.py#L206

I'm not sure this should be the case

[2020-09-30 16:08] aulemahal commented on #27
I would suggest something a bit more complex that outputs an array of shape `(lon_in, lat_in, lon_out, lat_out)` or `(lon_in, lat_in, locations)` in a locstream/polylist_out case.

[2020-09-30 19:01] huard commented on #27
@aulemahal Could you repurpose or generalize `smm.read_weights` ?

[2020-09-30 19:14] aulemahal commented on #27
I'm not sure how that would serve the purpose. May be the issue is not clear, I am suggesting pretty much this:
[code]
This would also need the new attribute `input_horiz_dims` to be set in the `__init__`, it could still be overridden in the regrid methods anyway.

[2020-09-30 19:31] stefraynaud opened #29 "Properly handling of non permanent masks"
It happens that gridded data have missing values at locations that are not permanently masked.
One way to handle this is to regrid the mask it self, once converted to float. Then, the final mask should depend of the regridded mask values and on the regridding method.

At least an option should be added to handle this situation.

[2020-09-30 19:59] huard opened #31 "Release 0.4"

[2020-09-30 20:08] raphaeldussin opened #32 "use better versioning"
versioneer? bumpversion?

[2020-09-30 21:04] raphaeldussin opened #34 "documentation revision"
let's try to update and homogenize the docs

[2020-09-30 21:05] raphaeldussin commented on #31
close by #33

[2020-09-30 21:05] #31 closed

[2020-09-30 21:11] raphaeldussin commented on #27
@aulemahal I'm not sure that would work for large arrays. Say if I regrid a 1/4 degree regular grid onto a 1 degree (pretty standard stuff), a 4d matrix would be of size 1440x720x360x180 = 67e9 elements = 269 GB for single precision

[2020-09-30 21:12] raphaeldussin commented on #25
fixed by #30

[2020-09-30 21:12] #25 closed

[2020-09-30 21:14] aulemahal commented on #27
You're right... I was thinking of the cases using polygons, where the weights could actually be useful themselves. This could be a small example in the doc instead. So, if the user explodes their ram, it's their own fault.

[2020-10-01 07:35] stefraynaud commented on #7
It could even take the form of callable accessor like `ds.regrid_like(ds2.cf.rename_like(ds), "bilinear")`.

[2020-10-02 19:49] slevang opened #36 "regrid_dataset broken with xarray=0.16.1"
First off, thanks everyone for keeping this great package going!

Unfortunately, regridding of chunked/dask datasets seems to have broken with the latest 0.16.1 xarray release, maybe related to [#4060](https://github.com/pydata/xarray/pull/4060)?

### Minimal Example

[code]
Fails with:
[code]
Regridding the tutorial dataset with single field `air` works fine, but adding a second variable raises t

[2020-10-02 20:02] dcherian opened #37 "test against xarray main branch"
This would be good to catch things like #36 before releasing a new xarray version.

See https://github.com/xgcm/xgcm/blob/b2fc97e29c6e262f69dc699d4c31dd2ad3ee53fc/.github/workflows/ci.yaml#L86-L114 for an example wiht github workflows.

[2020-10-16 20:15] huard opened #38 "Support parallel regridding"
See https://github.com/JiaweiZhuang/xESMF/issues/71

[2020-10-20 19:00] #38 closed

[2020-10-20 19:03] huard opened #40 "Add tests exercising dask parallelism"
There seems to be holes in the test coverage for dask. See #39

[2020-10-20 23:56] Thomas-Moore-Creative commented on #34
Aloha, I *think* I got off on the wrong track by following these docs - https://xesmf.readthedocs.io/en/latest/ and the link back to https://github.com/JiaweiZhuang/xESMF/blob/master/doc/index.rst

Thanks for everyones efforts on this package, @JiaweiZhuang et al.  Is *this* Pangeo fork of xesmf the "future" of the xesmf package?  The right place for issues?

[2020-10-21 00:32] raphaeldussin commented on #34
@Thomas-Moore-Creative you are correct, we are in the process of moving xESMF to pangeo

[2020-10-21 01:42] Thomas-Moore-Creative commented on #34
Great news and thanks for the community efforts.  Would you welcome input now on the documentation?

I'm currently trying to get past the `ImportError: Regrid(filename) requires PIO and does not work ....` issue.  So, still at super-noob level. =)

[2020-10-22 06:05] stefraynaud commented on #29
Here is an example of how an adaptative masking is applicable to data with non permanent missing values, when using a conservative method: this helps not masking cell that are only partially masked.

Classic case:
![adaptative_masking default](https://user-images.githubusercontent.com/1941408/96831295-169ed280-143d-11eb-9c48-89aca38cf6e2.png)

Adaptative masking:
![adaptative_masking adaptative_ma

[2020-10-28 02:02] andersy005 opened #41 "Weights generation is `extremely` slow when working with large grids"
When working with large/complex grids, the weights generation step appears to be computationally expensive. I am wondering whether this is documented somewhere? If so, can we improve this?

Here's an example

<img width="1156" alt="Screen Shot 2020-10-27 at 4 57 34 PM" src="https://user-images.githubusercontent.com/13301940/97370914-b3b29e80-1875-11eb-9092-4c3e85084020.png">

![](https://gist.gith

[2020-10-30 17:57] huard opened #44 "Update xESMF link in xarray's related projects"
http://xarray.pydata.org/en/latest/related-projects.html#related-projects

[2020-11-04 22:27] jminsk-cc commented on #36
Is anyone working on trying to pin the xarray version to <=1.15? Just wondering since I spent a few hours debugging this exact issue. 😄

[2020-11-05 00:10] #32 closed

[2020-11-05 00:49] #40 closed

[2020-11-06 16:18] huard commented on #6
Next meeting scheduled for Nov 09, 15h30 EST.

[2020-11-06 16:51] raphaeldussin commented on #6
I have a conflict monday, I had it scheduled for Wednesday 3:30EST.
would Wed work?

[2020-11-08 17:40] stefraynaud commented on #6
Ok for me Wednesday 3:30EST.

[2020-11-09 13:31] lukasbindreiter opened #46 "Release 0.4.0 to pypi"
Hi,

It seems that this package has suceeded https://github.com/JiaweiZhuang/xESMF as development for `xesmf`.

I was trying out some of the new features of v0.4, but I noticed that this version is not yet pushed to [PyPI](https://pypi.org/project/xesmf/). Also it seems that the PyPI package still links to the old repository as well.

Would it be possible to update the package (and maybe also the

[2020-11-09 20:58] jhamman commented on #36
Just ran into this same issue as described above. I can also confirm that downgrading to 0.16.0 fixes the issue. Xarray=0.16.1 did have a fair bit of churn around `apply_ufunc` (https://github.com/pydata/xarray/issues/3890, https://github.com/pydata/xarray/issues/4060, https://github.com/pydata/xarray/issues/4391, https://github.com/pydata/xarray/issues/4392), so I guess I'm not surprised to find

[2020-11-11 16:51] rabernat commented on #36
cc @chiaral

[2020-11-11 18:14] dcherian commented on #36
@kmuehlbauer probably knows whats going wrong.

[2020-11-11 19:18] kmuehlbauer commented on #36
@dcherian Thanks for the ping. The error looks familiar. I'll have to look inside to be sure. Coming back the next day.

[2020-11-11 22:03] huard commented on #46
The original developer is inactive, so we cannot upload new releases to PyPI under the `xesmf` name. One option would be to create a new PyPI entry named `pangeo-xesmf`.

[2020-11-11 22:07] mathause commented on #36
xESMF is not required to reproduce. So this is an upstream issue:

[code]
This most likely happens because `dask_gufunc_kwargs.pop("output_sizes", {})` ([xarray/core/computation.py#L670](https://github.com/pydata/xarray/blob/e71c7b4ea967c32fa1c9fd99209a0d4cc05e1577/xarray/core/computation.py#L670)) so `output_sizes` is no longer available when `apply_variable_ufunc` is called for the second variab

[2020-11-11 22:12] huard commented on #46
@ocefpaf I see that everything is ready to go in the github action. Could you set-it up to use the `pangeo-xesmf` name or do we need something else ?

[2020-11-11 22:57] sol1105 commented on #29
In the following jupyter notebook I took a closer look into the adaptive masking technique and in regridding with the bilinear and the patch method. I found there to be a weird behaviour of at the southern domain boundary for those two methods, as they introduce missing values. I would be interested in your opinion on this behaviour and in general if it makes sense to apply the adaptive masking te

[2020-11-11 23:20] ocefpaf commented on #46
Sure, we can do that. But I don't recommend it because:
 - it can be very confusing;
 - you'll need to implement a "PyPI name", [see here for an example](https://github.com/SciTools/iris/blob/master/setup.py#L14);
 - `xESMF` is not really pip-installable, I believe that most of the people install it via vonda. so we GitHub would suffice.

Also, as a long term plan you can try: https://www.python.o

[2020-11-12 00:47] huard commented on #46
The current situation is not much better, where the PyPI xesmf points to the old repo, hence this initiative. But if it is not pip- installable, I agree it doesn't make much sense, and we should focus on the conda install.

Yes, that was the original idea, but it's going to be a while before we meet the requirements to change the PyPi owner.

Yes, that would be swell ! Done !

[2020-11-12 06:17] kmuehlbauer commented on #36
Indeed, this is a bug upstream.

A bit of background:

`dask.apply_gufunc` expects the `output_sizes` mapping with generic dimension naming (`dim0`, `dim1` etc). Thus we have to remap the naming within `xr.apply_ufunc` and change `output_sizes` accordingly. Obviously we do not test this for 2 variables. If we had, we would have found, that we need to make a copy of `dask_gufunc_kwargs` before rema

[2020-11-12 07:10] kmuehlbauer commented on #36
see https://github.com/pydata/xarray/pull/4576

[2020-11-12 15:34] huard commented on #44
Done in https://github.com/pydata/xarray/pull/4573

[2020-11-12 15:34] #44 closed

[2020-11-12 15:36] huard commented on #46
0.4 is now on Conda.

@lukasbindreiter I'm afraid this is the best we can do at the moment.

Thanks @ocefpaf !

[2020-11-12 15:36] #46 closed

[2020-11-12 15:49] huard commented on #21
A new conda build for ESMPy seems to be available.

[2020-11-12 15:50] huard commented on #16
Corner computation functions added in https://github.com/xarray-contrib/cf-xarray/pull/108

[2020-11-12 15:51] raphaeldussin commented on #21
yes, it's on my todo list, I want to test and document the several extrapolation methods

[2020-11-13 21:15] raphaeldussin commented on #41
my understanding is that xESMF only runs the regridding weights computation on one core so this is maybe why your computation is slow. The workaround is to built weights using the command line tool `ESMF_RegridWeightGen` like I described in the doc.
A further development could be to have xESMF runs the ESMpy code in parallel using mpi4py

[2020-11-13 21:18] raphaeldussin commented on #37
any volunteer for this? wink to @andersy005

[2020-11-13 23:26] andersy005 commented on #37
This is straightforward to do :) Expect a PR from me soon

[2020-11-16 12:24] lukasbindreiter commented on #46
Thanks for your efforts.

I didn't know @JiaweiZhuang was inactive, maybe he will come back one day and is able to transfer ownership then.

Thanks for updating the version on conda 👍

For everyone who uses `pip` or `pipenv` these are the commands I used to install `v0.4.0`:

[code]

or

[code]

[2020-11-18 20:12] #37 closed

[2020-11-25 22:16] #11 closed

[2020-11-27 19:12] huard commented on #16
Fixed in #49.

[2020-11-27 19:12] #16 closed

[2020-11-27 19:16] #36 closed

[2020-11-27 19:21] huard commented on #34
Hi @Thomas-Moore-Creative
Sorry your question went unanswered, and yes, feedback is very welcome.
I changed the link to the docs to point to pangeo-xesmf.readthedocs.io/
I see that the installation docs include an older version of esmpy, I'll update that. Any other suggestions ?

[2020-12-02 14:02] chiaral opened #53 "Regridder fails when ds_in doesn't have (lat,lon) as last two coordinates"
Following the example on the tutorial:

[code]
This works (as it should):

[code]
Let's create another dataset:
[code]

This doesn't work:
[code]

it gives this error

[code]

Interestingly, the order of the dimensions does not matter when I create the weights. In fact this works:

[code]

And both `regridder` and `regridder_t` work on the dataset `ds`, both do not work on `ds_t`.

 I `pip` instal

[2020-12-02 21:26] huard commented on #53
Hi @chiaral,
Thanks for the clear report. This is something we should fix.

I think the logic of the `apply_weights` function can probably be improved using `cf-xarray`.

[2020-12-02 21:36] dcherian commented on #53
Seems like `ds_in.transpose(..., *weights.dims)` would work?

[2020-12-03 16:05] ahuang11 opened #54 "Documenting installing latest v0.5.0 with pip is not possible currently"
From my understanding, Jiawei still owns the pypi package which is at 0.3.0 so `pip install -U xesmf` doesn't install v0.5.0.

Maybe temporarily update the docs at https://pangeo-xesmf.readthedocs.io/en/latest/installation.html to say it will only install up to v0.3.0 for pip

[2020-12-07 13:58] sol1105 commented on #29
Salut Stephane,

I updated the second notebook (the one with the application of the adaptive masking on output of an ocean model):
https://github.com/roocs/regrid-prototype/blob/main/docs/notebooks/xESMF_test_Adaptive_Masking-MPIOM.ipynb

For the adaptive masking I suggest to define a minimum contribution threshold as follows:

[code]

I would like your feedback on that and the few questions posed

[2020-12-08 10:41] stefraynaud commented on #29
Ok, I'll have a look at it soon.

[2020-12-09 16:25] aulemahal opened #55 "Lat/lon inference fails with rlat/rlon"
With #49 we have what we could call a regression for datasets with `rlat` and `rlon` coordinates (and maybe other cases): those are seen by `cf_xarray` as "longitude" and "latitude". Thus, the following fails with `ValueError` :
https://github.com/pangeo-data/xESMF/blob/fb739ab920baa822838729d95100243e775a1c7b/xesmf/frontend.py#L39

A workaround would be to catch the ValueError and revert to old-b

[2020-12-09 16:34] jthielen commented on #55
If I'm interpreting this correctly, I *think* `rlat` and `rlon` coordinates as grid latitudes/longitudes rather than true latitudes/longitudes should not be identified as latitude/longitude in the context of the CF conventions, so shouldn't be seen by cf_xarray as latitude/longitude (meaning this would need to be fixed upstream). Does that seem reasonable?

[2020-12-09 16:54] aulemahal commented on #55
That makes sense. In my specific case, `rlon` had the 'grid_longitude' standard name and this is what caused `cf-xarray` to detect it as a 'longitude'.

[2020-12-09 16:58] jthielen commented on #55
Got it. In that case, I definitely think cf-xarray is in error here (as described in http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#rotated-pole-grid-ex, the standard name of `grid_longitude` and units of `degrees` should make it so that these are not confused with true latitudes and longitudes).

[2020-12-09 17:07] dcherian commented on #55
Ooops my bad. I made that change recently without looking in to it too much. Happy to merge a cf-xarray PR quickly if one of you wants to send one in.

[2020-12-09 22:27] aulemahal commented on #55
Closing as this is unrelated to xESMF and will be fixed upstream.

[2020-12-09 22:27] #55 closed

[2020-12-10 08:41] stefraynaud commented on #29
@sol1105 That's a really nice work.
It is a good point that we find similar results between without_adaptative_mask+add_matrix_nans and with_adaptative_masking.
It seems that adapative masking is mandatory for the patch method.
The `min_norm_contribution` is very useful addition, especially for land-sea masking.

Here is a possible strategy:
* Apply the add_matrix_nans in all cases.
* Check if the

[2020-12-11 16:21] aulemahal commented on #27
Just remembered this issue. It was "solved" by an example in the doc of #24.

[2020-12-11 16:21] #27 closed

[2020-12-11 16:27] aulemahal opened #56 "When to apply `add_nans_to_weight`"
In the case where `dsout` doesn't need a mask (like it would be ones everywhere), but still has points outside the domain of `dsin`, the current way to get nans instead of 0 is by adding a useless mask. This feels slightly hacky, could there be a kwarg controlling this behavior? Like `add_nans_to_weight=True`, or something in the like.

Also, I'm not sure I understand why someone would want 0s in

[2021-01-05 15:50] jthielen opened #57 "Remove xarray<=0.16.0 pin (just block 0.16.1)"
Not sure if it is better to get a quick fix to this posting here or on the conda-forge feedstock, but it would be great if it were possible to change the current xarray<=0.16.0 pin to just prohibit the problematic 0.16.1 release (since the issue causing the pin, https://github.com/pangeo-data/xESMF/issues/36, was resolved in xarray 0.16.2). Right now, this pin unfortunately means that xskillscore

[2021-01-05 17:39] malmans2 opened #58 "Return coordinates with names and attributes consistent with ds_out?"
Looks like `xesmf` always returns objects with coordinates named `lon` and `lat` and no attributes, even when `cf_xarray` is used under the hood.
I'm wondering whether it would make sense to return coordinates with names and attributes consistent with `ds_out` used to build the regridder.

[2021-01-06 14:11] huard commented on #54
Indeed. Could you review the PR ?

[2021-01-06 14:46] #54 closed

[2021-01-06 15:58] huard commented on #58
Agreed. Are you comfortable submitting a PR for this ?

[2021-01-06 16:00] huard commented on #56
I think `add_nans_to_weight` could always be the default behavior. This seems consistent with discussions in https://github.com/pangeo-data/xESMF/issues/29#issuecomment-742371696

Please submit a PR and a notebook example demonstrating the issue.

[2021-01-08 23:21] ocefpaf commented on #57
Argh. I introduce that in https://github.com/pangeo-data/xESMF/commit/fb739ab920baa822838729d95100243e775a1c7b and forgot to update the conda-package :-(

[2021-01-11 14:43] #58 closed

[2021-01-11 14:52] raphaeldussin commented on #57
@huard I've just merged a few fixes, can we release a version 0.5.1 and propagate to conda-forge to solve issue
https://github.com/conda-forge/xesmf-feedstock/pull/12

[2021-01-11 15:31] huard commented on #57
@raphaeldussin Sounds good. Could you update CHANGES.rst with the latest PR ?

[2021-01-11 16:39] raphaeldussin commented on #57
@huard CHANGES.rst is up to date. can I let you bump the version?

[2021-01-11 17:13] huard commented on #57
Done: https://github.com/pangeo-data/xESMF/releases/tag/v0.5.1

[2021-01-11 17:49] #57 closed

[2021-01-15 23:35] aulemahal commented on #28
As a test, I modified the current code so that  we could have periodic grids with `conservative`. More precisely I commented the line referenced above and modified :
https://github.com/pangeo-data/xESMF/blob/90d3c0ff3246c1c36f85a421792c274e001f3055/xesmf/backend.py#L215-L225
to
[code]

Then I made tests with
[code]
With an a uniform field we get strange results.  For example:
[code]
`d_per` and `d

[2021-01-19 23:10] #53 closed

[2021-01-19 23:12] raphaeldussin opened #69 "version 0.5.2"
versions 0.5.0 and 0.5.1 have a major bug. We need to release a new version asap.

[2021-01-25 20:55] huard commented on #69
Released.

[2021-01-25 20:55] #69 closed

[2021-01-26 20:28] aulemahal opened #72 "Hardcoded bounds dimension name."
https://github.com/pangeo-data/xESMF/blob/0bae6dcda466d19092cf7d48115491a21ed42269/xesmf/frontend.py#L75-L76

The lines above hardcode the name of the "bounds" dimension to `'bounds'`. This is my fault, from xarray-contrib/cf-xarray#108 and #49... It seems like CF conventions have no prescribed name for that dimension, so I'm not sure if this is a problem to be fixed here or in cf_xarray?

The cur

[2021-01-26 20:32] dcherian commented on #72
Can you infer it?
[code]

[2021-01-26 20:35] aulemahal commented on #72
Makes complete sense and should work for most cases.
But should that snippet be in cf_xarray or here? Though I'm not sure how `cf_xarray` would implement or expose it...

[2021-01-26 20:38] dcherian commented on #72
Could add `Dataset.cf.get_bounds_dim_name("longitude")`

[2021-02-03 16:44] kracwarlock opened #74 "version 0.5.2 is not available on conda-forge"
I can only find up to `0.5.1` at https://anaconda.org/conda-forge/xesmf/files. Can you please upload the latest release?

[2021-02-03 16:55] kracwarlock commented on #74
it seems that the release url is broken https://github.com/conda-forge/xesmf-feedstock/pull/13

[2021-02-03 21:37] huard commented on #74
I think this is fixed now.

[2021-02-03 21:38] huard commented on #74
Or at least in the process of being fixed: https://github.com/conda-forge/xesmf-feedstock/pull/13
@ocefpaf Could you confirm it's all good ?

[2021-02-04 14:33] #74 closed

[2021-02-06 17:25] ocefpaf commented on #74
LGTM! Thanks. The conda-forge bot even found the release automatically.

[2021-02-17 15:36] sol1105 commented on #29
I applied the adaptive masking for the patch and bilinear methods on the MPI-ESM1-2 MPIOM model output and updated the notebook accordingly (the new bits are at the bottom): https://github.com/roocs/regrid-prototype/blob/main/docs/notebooks/xESMF_test_Adaptive_Masking-MPIOM.ipynb

This might help deciding for which methods (besides conservative) the adaptive masking should be enabled by default. F

[2021-02-17 16:01] stefraynaud commented on #29
Maybe the default masking threshold should be set to 0.5. This would make the destination mask closer in shape to the source mask for all methods.

[2021-02-18 23:31] aulemahal opened #77 "No ways to exlude missing values in SpatialAverager"
If NaNs are present in the input grid to `SpatialAverager` they will be propagated, as expected. However, when working with `Regridder`, we can simply add a mask to the in/out datasets to exclude certain pixels from the computation. This does not work with `SpatialAverager`. Even more problematic, passing a mask with the input grid results in everything being NaN in the output.

MWE:
[code]

It'd

[2021-02-26 14:45] #72 closed

[2021-03-09 16:19] benjamin-cash opened #80 "add pole_kind to ESMF grid creation"
ESMPy has the option to specify whether a grid is monopole or bipole:

https://earthsystemmodeling.org/esmpy_doc/release/ESMF_8_0_1/html/PoleKind.html

This is very useful for specifying tripolar grids, and allows generated regrid weights to avoid the issues raised in https://github.com/JiaweiZhuang/xESMF/issues/90 and other issues. The functionality is there in ESMPy but is not available in xESMF

[2021-03-30 12:36] huard commented on #80
Hi @benjamin-cash,

Would you be willing to submit a pull request for this ? We could make a release shortly after merging.

[2021-03-30 12:39] huard opened #82 "Test with ESMF 8.1"
A new release of ESMF is available. We should
- [ ] confirm xESMF works, and
- [ ] identify new features we want to expose.

https://github.com/esmf-org/esmf/releases/tag/ESMF_8_1_0

[2021-03-31 14:55] raphaeldussin commented on #21
@huard I noticed it too! I need to work on documenting the extrapolation methods and make a PR to include the new method. my bandwidth is lower than a dial-up modem right now :(

[2021-03-31 15:30] huard commented on #21
No pressure! I was just noting it for future reference.

[2021-04-05 16:03] mgrover1 opened #84 "Specifying grid bounds"
It would be nice to be able to specify the grid bounds when generating a regular, global grid, or during regridding, extract the grid bounds from the dataset that is being regridded.

[2021-04-06 14:29] benjamin-cash commented on #80
@huard - I'm happy to help but am a total novice when it comes to pull requests and don't really know how to go about it. Do you have a 'PR for Dummies" I can look at?

[2021-04-06 15:01] huard commented on #80
I believe this tutorial https://lab.github.com/githubtraining/introduction-to-github makes you go through the steps of submitting a PR.

Basically, you fork this repo, `git clone` your fork, create a branch `git co -b fix-80`, make your changes (including a test, a bit of documentation, and an update to CHANGES.rst), make sure all tests still pass, then `git push` to your fork and open a PR here t

[2021-04-07 06:23] Plantain commented on #82
Just from some trivial testing with our own workloads, it seems considerably slower than 8.0.1.

Could we have MOAB exposed through xESMF to try?
The integration of the MOAB mesh library, developed by the U.S. Department of Energy, into ESMF, has reached a milestone that supports application-level testing. All users of ESMF are encouraged to begin testing their applications with the MOAB option tu

[2021-04-07 15:31] huard commented on #82
Is `ESMF_MeshSetMOAB()` exposed through ESMPy?

My guess is that you'd first need to include it here: https://github.com/esmf-org/esmf/blob/develop/src/addon/ESMPy/src/ESMF/interface/cbindings.py

[2021-04-11 20:28] jbusecke opened #85 "Zenodo DOI references outdated version"
I want to cite xESMF for a paper, but the Zenodo badge in the Readme points to an outdated version of the original repo: https://zenodo.org/record/3700105#.YHNbrC1h2wI.

Is there a doi for the newer versions available?

[2021-04-12 19:02] huard commented on #85
Here it is: https://zenodo.org/record/4464833#.YHSZE3WYVhE

Will update the badge. Thanks for the catch.

[2021-04-12 19:30] huard commented on #85
Will be fixed with #88

[2021-04-12 19:33] huard commented on #84
@mgrover1 Could you expand on your suggestion? Does this go beyond functionality from cf-xarray ?

https://cf-xarray.readthedocs.io/en/latest/examples/introduction.html#Feature:-Cell-boundaries-and-vertices

[2021-04-12 19:35] #85 closed

[2021-04-13 13:54] mgrover1 commented on #84
The current functionality from cf-xarray works for rectilinear grids, but not not for curvilinear grids.

[2021-04-13 14:12] jbusecke commented on #84
I would be very interested in having this implemented upstream in cf-xarray (which might magically solve this issue?).
Perhaps this [issue](https://github.com/xarray-contrib/cf-xarray/issues/163) is of interest.

[2021-04-13 17:27] huard commented on #84
Agreed, we purposefully moved that logic into cf-xarray.

I'll close this issue, but please don't hesitate to reopen it, if after the cf-xarray implementation we need to tweak anything here.

[2021-04-13 17:27] #84 closed

[2021-04-15 09:35] Plantain opened #90 "Segfault/crash on interpolating"
Trying to regrid GFS is always unsuccessful - reliably segfaults seemingly inside ESMF.

root@test:/home/plot/# python3 test.py
Overwrite existing file: bilinear_681x1441_513x1024.nc
 You can set reuse_weights=True to save computing time.
Segmentation fault (core dumped)

See attached demo including input data
[demo.zip](https://github.com/pangeo-data/xESMF/files/6316800/demo.zip)

Is it related t

[2021-04-22 02:09] rokuingh commented on #82
@huard @Plantain we have created a feature request for this under #[37](https://github.com/esmf-org/esmf-support/issues/37).

[2021-04-22 02:16] Plantain commented on #82
Is that a private repo? I can't see it.

On Thu, Apr 22, 2021 at 12:09 PM rokuingh ***@***.***> wrote:

[2021-04-22 02:19] rokuingh commented on #82
Oops, my mistake, it is. We are just moving our issues over to github and still have it set to private. Well, for now just know that we are aware of the issue. If you could let us know what the urgency is on this request it will help us to prioritize it for the upcoming release cycle.

[2021-04-22 02:25] Plantain commented on #82
Well, I don't know about urgent but I think it should be a hard block on
making MOAB the default if all the users of ESMF via ESMPy have not been
able to test their workflows in advance?

On Thu, Apr 22, 2021 at 12:19 PM rokuingh ***@***.***> wrote:

[2021-04-22 02:34] rokuingh commented on #82
agreed. we don't plan to have MOAB be the default backend to ESMF_Mesh until 8.3.0, two releases from now, about a year out at best guess. This ticket is just to add a flag to allow a user to toggle the MOAB mesh functionality.

[2021-04-22 12:52] huard opened #91 "Benchmarking"
It would be useful to have a benchmarking setup to track performance as we add features and update dependencies.

[2021-04-22 12:54] huard commented on #82
Thanks @rokuingh for the info and timeline. I was wondering how to submit feature requests to ESMF.

I've opened a ticket to benchmark performance (#91).

[2021-04-22 15:46] rokuingh commented on #82
A feature request can be submitted with an email to esmf_support@ucar.edu.

[2021-04-26 18:46] aulemahal opened #93 "How could xESMF use a SGRID implementation?"
I'm opening this issue on behalf of the maintainers at [cf-xarray](https://github.com/xarray-contrib/cf-xarray).

We are currently looking into ways of implementing the [SGRID](https://sgrid.github.io/sgrid/) conventions. Those are used to describe staggered grids (C-grids  and the like) through dataset attributes. Currently, the idea of a basic implementation in cf-xarray would be to at least par

[2021-05-12 10:44] sol1105 commented on #56
https://nbviewer.jupyter.org/github/roocs/regrid-prototype/blob/main/docs/notebooks/xESMF_add_matrix_NaNs.ipynb
In the above notebook I hope the issue is demonstrated.

The following is a notebook created for a different purpose, but one can see the application of add_nans_to_weights when remapping data from a regional to a global grid:
https://nbviewer.jupyter.org/github/roocs/regrid-prototype/bl

[2021-05-12 13:04] stefraynaud commented on #56
As suggested @huard , you are welcome to make PR Martin!

[2021-05-14 15:45] sol1105 commented on #56
I made a PR to set add_nans_to_weights as the default to always mask unmapped / out-of-source-domain grid cells of the target grid (#94).

Regarding my comment above on how to allow masking such grid cells also for the nearest_s2d/d2s methods, I made a notebook on how it could look:
https://nbviewer.jupyter.org/github/roocs/regrid-prototype/blob/main/docs/notebooks/xESMF_curvilinear_nearest_mask_u

[2021-05-26 15:37] LiamBindle opened #96 "regridding cubed-sphere-type datasets"
Hi all. I thought I would transfer the cubed-sphere regridding discussion (https://github.com/JiaweiZhuang/xESMF/issues/21) here since this is the now-active project. In summary, xESMF has limited support for cubed-sphere grids (and other non-logically-rectangular grids). The workaround is to sum the results of conservatively regridding all the faces. A general solution for "more complicated" grid

[2021-05-26 15:38] LiamBindle commented on #96
Hi all. For GCHP we need cubed-sphere and stretched cubed-sphere regridding too. We use the "sum conservatively-regridded faces" approach as well, and it works okay, but it's limited to the "conserve" method, it's brittle, and it's hard to extend because of the extra complexity. Lately I have been working on a few projects that are regridding-heavy, and I have a workflow that works pretty well for

[2021-06-08 12:28] jsimkins2 commented on #28
I can confirm that performing the changes @aulemahal demonstrated above works for an irregular grid. My motivation for using the `periodic=True` tag was due to dateline artifacts for a topography file that was regridded to an irregular Northeast Pacific grid.

![orig](https://user-images.githubusercontent.com/13629742/121184210-dad14580-c832-11eb-8cbc-b618767719db.png)

The dashed line at the top

[2021-06-23 18:22] christophrenkl opened #98 "Regridding with 3D Mask"
Hello, I have raised this question in the [pangeo forum](https://discourse.pangeo.io/t/regridding-using-xesmf-with-3d-mask/1579) and was recommended to address it here:

I am currently trying to create initial conditions for a high-resolution, regional ocean model (based on ROMS) from the [GLORYS12v1](https://resources.marine.copernicus.eu/?option=com_csw&view=details&product_id=GLOBAL_REANALYSIS_

[2021-06-23 19:57] raphaeldussin commented on #98
Hi @christophrenkl this is a feature that, as an oceanographer, would like very much to have as well.
AKAIK the ESMF library does not have the 3D interpolation available so xESMF cannot produce this natively.
However, I'm thinking that there could be a solution:

When going from the surface to the deep ocean, we are only going to remove ocean points in the source and target grids.
Starting from th

[2021-06-23 23:12] trondkr commented on #98
Hi @christophrenkl,

Just to chime in with some additional info here. I have a python toolbox called model2roms (https://github.com/trondkr/model2roms) that does a lot of what you are asking. It creates initial, clim and bry files for running ROMS using ESMF for interpolation. Model2roms uses GLORYS12V1 as the default dataset to create the model forcing. The toolbox uses ESMF which could be switch

[2021-06-24 03:12] brews opened #99 "regrid output is always float64"
In a current example [in docs](https://pangeo-xesmf.readthedocs.io/en/latest/notebooks/Rectilinear_grid.html#Regrid-between-rectilinear-grids)

In short:

[code]

I need manually convert this output back to `float32` a la `dr_out.astype("float32")`, otherwise my files get big. Might be worth handling this in `xesmf`?

This is an issue brought up earlier in https://github.com/JiaweiZhuang/xESMF/iss

[2021-06-24 10:04] stefraynaud commented on #98
Hi @christophrenkl

PR #65 is proposed to handle scattered missing values, where 2D are just a particular case.
It basically allows the extrapolation to not be contaminated by NaNs, and the output mask depends on the level of contamination.
However, it does not extrapolate from the scattered mask, which can be solved by applying a kind of spatial filter to the coastal area.

[2021-06-24 19:34] christophrenkl commented on #98
Thank you for your input so far! I will try to carve out some time to have a more detailed look at the proposed approaches.

[2021-07-01 17:55] #29 closed

[2021-07-07 16:54] #56 closed

[2021-07-08 15:56] huard commented on #99
Hi @brews,

Question: Should the weights themselves be float32, or just the regridded output ?

Also, would you be comfortable submitting a PR for this ?

The weights are applied here: https://github.com/pangeo-data/xESMF/blob/a04300aa50c54115a95c0c82f31652db96a506e7/xesmf/smm.py#L119

So I suspect one option would be to cast `outflat_data` to the dtype of `in_data`.

You might also need to tweak

[2021-07-12 16:18] brews commented on #99
Hey @huard, thanks for the direction — that's helpful. I think I can take a stab at a PR this week.

[2021-07-12 17:46] brews commented on #99
To your other question, I don't know that it matters so much about the weights. I think it's fine to keep weights as float64 because a user might have need for that kind of precision. The trouble that I'm running into is that input data is always quietly recast into float64, regardless of input data's precision. We're also loosing attributes, etc. but this cast output is pain because the output fi

[2021-07-12 17:57] raphaeldussin commented on #99
Hi @brews and thanks for this issue! I think xesmf should respect the type of the input data. For accuracy purpose, weights should keep double precision but it would be reasonable to return the output such as `astype[input.dtype]`

[2021-07-26 16:02] raphaeldussin opened #108 "drop support of python 3.6"
xarray 0.17 and xgcm are dropping support of py 3.6. CI is currently failing. should we drop support as well? @andersy005 @huard

[2021-07-27 14:54] sol1105 opened #109 "Halos - (Partially) duplicated columns and rows in the source grid"
### Description

Climate model data can be provided on grids that feature halo regions, which are partially or entirely duplicated columns or rows at the edges of the grid (eg. about for half of the ocean models in CMIP6, data is provided on grids that include a halo). Here is a quote from the [NEMO ocean engine](https://epic.awi.de/id/eprint/39698/1/NEMO_book_v6039.pdf) document:

The cyclical ca

[2021-08-09 13:51] raphaeldussin opened #112 "test_regrid_cfbounds fails with upstream_dev CI"
@aulemahal @huard any ideas on what's broken here?

[2021-08-09 13:59] raphaeldussin commented on #109
my experience with the ORCA family of grids is that the first and last columns are duplicates so they can be safely removed and the regridding be done on the remaining data, e.g `[:,1:-1]`

I don't think xESMF should add extra-code to deal with halos. To my knowledge, NEMO is the only model outputing these extra columns.

[2021-08-11 19:20] aulemahal commented on #112
Fixed by xarray-contrib/cf-xarray#255.

[2021-08-11 19:20] #112 closed

[2021-08-12 21:43] #99 closed

[2021-08-13 15:08] #108 closed

[2021-08-13 15:10] raphaeldussin commented on #6
@huard @stefraynaud should we touch base on the current issues, say early september?

[2021-08-15 22:00] aaronspring commented on #109
The ocean model MPIOM from MPIESM has also a halo

[2021-09-15 07:43] aaronspring opened #115 "unstructured grids"
Has anyone used `xesmf` to regrid from unstructured grids like ICON, MPAS or FESOM?

Unstructured grids like ICON just have one spatial dimension like `ncells` and 2 spatial coordinates `clon` and `clat`.

I tried and failed.

https://gist.github.com/aaronspring/fd54970f71a39e26ab54a8b47170533d

[2021-09-15 07:53] aaronspring commented on #115
Is this to be done with `LocStream`? https://pangeo-xesmf.readthedocs.io/en/latest/notebooks/Using_LocStream.html

[2021-09-15 13:57] aaronspring commented on #115
[code]
<img width="390" alt="image" src="https://user-images.githubusercontent.com/12237157/133447029-cff404d7-43d5-4aaf-b104-997d0e10ea5c.png">

[2021-09-15 14:00] aaronspring commented on #115
Whats the reason that the other `method`s do not work here?

[2021-09-15 14:02] raphaeldussin commented on #115
Hi @aaronspring
ESMF and its python wrapper ESMPy provides the capabilities to remap unstructured (Mesh) to structured (Grid) but xESMF has not yet implemented those capabilities. You can find some examples in the ESMPy documentation and we'd welcome a contribution in xESMF to implement support for Meshes!

[2021-09-15 14:39] aaronspring commented on #115
more context in https://github.com/JiaweiZhuang/xESMF/issues/18

[2021-09-15 18:31] aaronspring commented on #115
https://earthsystemmodeling.org/esmpy_doc/release/ESMF_8_1_0/html/examples.html#grid-mesh-and-field-created-from-file

[2021-09-21 09:27] sol1105 commented on #109
Thanks for your reply @raphaeldussin .
As @aaronspring notes, there are other models beside NEMO, that are outputting extra rows/columns.

I made a list of all CMIP6 ocean models I could find, showing which ones have duplicated cell centers or bounds, or collapsing cells, and quite a lot are affected: https://c6dreq.dkrz.de/files/ocean_grids.php

From my experience with CMIP6 ocean data, duplicate

[2021-09-22 02:41] raybellwaves opened #117 "FutureWarning: ``output_sizes`` should be given in the ``dask_gufunc_kwargs`` parameter"
FYI came across this in some code I was using that uses xESMF under the hood

[code]

https://github.com/pangeo-data/xESMF/blob/master/xesmf/frontend.py#L522

[2021-09-27 08:16] darribas opened #119 "How to build a `Regridder` for a grid that does not fit in memory"
I have a grid that doesn't fit in memory (121,865 x 182,437):

[code]

I'd like to regrid into one that does (200 x 300):

[code]

[I understand](https://pangeo-xesmf.readthedocs.io/en/latest/notebooks/Dask.html) that `dask` support is built into the library to enable out-of-core computations. But, when I try to build the `Regridder` object,

[code]

I get the following error:

[code]

Is there a

[2021-09-27 12:54] raphaeldussin commented on #119
Thanks for the kind words @darribas
Your use case is pushing the limits of the xESMF implementation but there is a workaround!
xESMF has not been designed to use the massively parallel capabilities of ESMF to generate weights
so this leads to problems for remapping of very large arrays. We are aware of it and implementing parallel generation of
weights is on the back burner until there is a major

[2021-09-27 13:23] huard commented on #119
I'd add that PRs that address this are most welcome !

[2021-09-27 13:55] darribas commented on #119
Thanks very much for the prompt reply! This is great. I've read through the document and it is very didactic. My only question (entirely newbie) is whether this can run only on a HPC system w/ MPI or I could run the `ESMF_RegridWeightGen` on my 24-core server without MPI? Also, I take this only works on netCDF files? My original data is satellite imagery across a bunch of COGs, but can always conv

[2021-09-27 14:06] raphaeldussin commented on #119
If the remapping died in xesmf to to memory limit, the only way to solve the issue is to throw more RAM at the problem and this usually means using more compute nodes so we can extend both the number of cores available but also memory. The example I was giving ran on several hundred cores.

On a different note, it seems that you are trying to reduce your data. I wonder if using xarray.coarsen as a

[2021-09-28 07:58] darribas commented on #119
Thank you very much @raphaeldussin, `coarsen` worked for what I had in mind with that usecase!

I'm closing the issue as I consider it answered but feel free to re-open if you think it'll be useful for some reason.

[2021-09-28 07:58] #119 closed

[2021-09-28 09:11] stefraynaud commented on #6
Hey guys. What is your availability for a meeting?

[2021-09-28 12:58] huard commented on #6
Early next week ?

[2021-09-28 13:48] raphaeldussin commented on #6
Monday 10AM would work for me

[2021-10-01 06:42] sol1105 commented on #115
Using locstream to at least offer nearest neighbour remapping is a nice idea, since apparently the data on unstructured grids of the CMIP models is stored in this locstream-like format.
I tested it for CMIP6 published ICON-OES and FESOM data:
https://nbviewer.jupyter.org/github/roocs/regrid-prototype/blob/main/docs/notebooks/xESMF_unstructured_locstream_ref.ipynb

The only problem I encountered or

[2021-10-01 21:24] aulemahal opened #121 "Regridding dataset with dask arrays fails"
MWE
[code]
Fails with:
[code]
in `/dask/array/utils.py in meta_from_array(x, ndim, dtype)`

This is due to a misuse of `xr.apply_ufunc` in the dataset case.  The  `output_dtypes` argument of `apply_ufunc` is only used if data uses the dask backend or if `vectorize=True` (not our case).  It is a list of dtypes _the same length as the number of outputs_.  When encountering a dataset, `xarray` will i

[2021-10-13 10:34] AaronDavidSchneider opened #124 "numba issues with 0.6.1"
Hi,

I get some numba issues with 0.6.1 that were not there with 0.6.0.

I am not entirely sure how to make a simple reproduction of the problem. But it appears to happen when I use my cubedsphere package (see cubedsphere.readthedocs.io).

[code]

[2021-10-29 20:09] huard opened #126 "SpatialAverager yields weights that are different from Regridder"
With a global rectilinear source grid (lon, lat) and a destination grid with a single tile, I can use Regridder to get weights.

If instead I use SpatialAverager, using a square polygon with the same boundaries as the single tile above, I get different weights. In particular, it seems like the weights only include the fraction of the source grid covering the destination grid, without accounting fo

[2021-10-29 22:02] huard commented on #126
@bekozi Any idea what could be going on ?

I created a test case showcasing the issue in branch fix-126.

[2021-11-01 05:40] ScottWales opened #127 "Very large Dask graph size with high resolution grids"
Regridding from 0.1 to 0.25 degree global grids is creating a very large task graph with xesmf 0.6.1, causing problems when evaluating the result.

Sample code:
[code]

Evaluated versions at https://nbviewer.org/gist/ScottWales/4fe0e9a5725b5a3bf07ab94e80778846

With 0.6.0, the regridded data has 240 Dask tasks. With 0.6.1 the number has exploded to 409,841 tasks, and appears to scale with the grid

[2021-11-01 13:48] huard commented on #126
@aulemahal Do you remember why ds_in and ds_out are reversed here ?
https://github.com/pangeo-data/xESMF/blob/f6a09102d8d272306702f8294528dca5e965f823/xesmf/frontend.py#L978

[2021-11-02 14:44] huard commented on #127
Thanks @ScottWales for the detailed report and examples.

@aulemahal Any clue on what could be done about this ?

[2021-11-02 14:51] raphaeldussin commented on #127
@ScottWales thanks for the detailed issue, this is definitely problematic and we need to look into this asap!

[2021-11-02 15:00] huard commented on #127
Here is a breakdown of the dask tasks:
[code]

[2021-11-03 01:42] huard opened #129 "Streamlining the API"
I think the xESMF code base could be simplified by clarifying the API.

For example, `frontend.Regridder` accepts either `xr.Dataset` or a dictionary of numpy arrays. This function then calls `ds_to_ESMFGrid`, which also accepts `xr.Dataset` or a dict.

Minimally, I think we could say that `ds_to_ESMFGrid` only accepts `xr.Datasets`, and the `Regridder` class is responsible for the conversion from

[2021-11-04 17:37] aulemahal commented on #127
Argh...  Sorry guys!

Ok so I did see that problem in the original PR about `sparse`, but I guess I forgot and we didn't discuss it. @huard spotted the issue. Because of the tremendous size of the weight array : `n_in x n_out`, dask tries to rechunk it on the fly to limit the chunk size. It doesn't see that the arrays are sparse.

@ScottWales  : the workaround is to config dask to accept large chu

[2021-11-08 19:51] raphaeldussin commented on #127
@aulemahal since the issue seems to be coming from the transition from `scipy` to `sparse`, wouldn't a solution be to revert to the use of `scipy.sparse` as default and add `Sparse` as an optional backend while we figure out a proper fix either in xesmf or in the depencies?

[2021-11-08 20:04] aulemahal commented on #127
If it's simpler like that.

I think it makes no sense to use `sparse` as an optional backend since it is itself backed by scipy. The main win from going to `sparse` is to be able to have weights in a DataArray and pass them as an argument to the `apply_ufunc` call.  IMO, having this still possible (with an optional dependency, meaning 2 regrid_dataarray algorithms) would be way less elegant than s

[2021-11-08 22:17] aulemahal opened #131 "SpatialAverager having issues in ESMF 8.2.0"
Build failures of #122 are currently due to the change to ESMF 8.2.0.

There seems to be a change in the Mesh object that makes it return a wrong shape (as compared to 8.1.1 and to the list of polygons).  It then fails in an unrelated line further down the line.

MWE:
[code]
On ESMF 8.1.1 the size of the second mesh is [10, 1], which is correct. On ESMF 8.2.0, there is this error that comes out of

[2021-11-08 23:36] huard commented on #131
I think so, yes.

I had to do
```w = _parse_coords_and_values(weights, self.n_in, mesh_out.element_count)```
instead of
```w = _parse_coords_and_values(weights, self.n_in, self.n_out)```
to get it to work.

[2021-11-08 23:37] huard commented on #131
A fix is an #128, but I didn't dig deep.

[2021-11-09 21:36] #126 closed

[2021-11-09 21:38] huard opened #132 "Transpose mask if necessary"
Masks indicating null values sometimes need to be transposed. This should be done by xESMF automatically.

[2021-11-10 15:36] dcherian commented on #127
If you're going down the sparse route, I would try using `dask.array.tensordot` directly or `xr.dot` instead of using `apply_gufunc`. You might run into https://github.com/dask/dask/pull/7980 but in theory that could be fixed easily.

That said, this issue is pretty clearly a dask bug when it autochunks inputs to `apply_gufunc` so it would be good to open an issue there.

[2021-11-10 15:59] raphaeldussin commented on #127
@dcherian thanks very much for this valuable feedback, @aulemahal do you have time to look into this?

[2021-11-10 17:18] mtrimp2 opened #133 "xESMF regridding showing repeated values at latitude poles"
I am experiencing problems when regridding on a global grid in xesmf. Everything is working as it should, except for at the poles (latitudes -90 and 90), where it shows repeated values (2.58851004e+00, 2.58851004e+00, 2.58851004e+00, ...) for each variable. I have also compared it with the CDO regridder to verify, and it showed differences of 0 at every lat/lon point, save for lats -90 and 90. Is

[2021-11-10 17:29] huard commented on #6
In light of the issues with 0.6.1 and chunking the weight with the sparse backend, I suggest we roll back the changes made in 0.6.1 and release a 0.6.2 with the other PRs merged since then, in particular the bug fix for SpatialAverager.
We'll plan a 0.7.0 release using the sparse backend.

I've looked into [marking conda packages as broken](https://github.com/conda-forge/admin-requests), but I'm n

[2021-11-10 18:51] aulemahal commented on #127
@dcherian  @raphaeldussin This is indeed very promising!  I am currently testing this new approach and am able to remove the need to call `xr.apply_ufunc` with `dask='parallelized'`. Instead, the `Regridder._regrid_array` function is now "polymorphic" and treats dask and numpy array alike. As a side effect, this forces me to wrap the weights into a dask array manually, and thus I can make it have

[2021-11-10 19:18] aulemahal commented on #131
Ryan O'Kuinghttons of NOAA responded to my email raising the issue. He is working on fixing it as it really is a bug.

Moreover, #128 implicitly fixed this issue because the `size` attribute of the Mesh (which is wrong) is never used explicitly anymore.

@huard In your case, `self.n_out` was not correct anyway since the number of elements in the mesh doesn't correspond to the number of geometries

[2021-11-10 19:18] #131 closed

[2021-11-10 20:30] raphaeldussin commented on #6
@huard @aulemahal are you guys free tomorrow for a quick meeting?

[2021-11-10 20:38] aulemahal commented on #6
Yes! Any time between 10 and 18 (UTC-5). The later the more chance I will have had time to work on the suggestions of dcherian (that could fix xesmf with sparse instead of having to roll back).

[2021-11-10 20:44] #121 closed

[2021-11-10 21:55] huard commented on #6
Yes, only busy at 12h (ET).

[2021-11-12 16:39] #124 closed

[2021-11-16 14:22] #77 closed

[2021-11-16 14:41] huard commented on #6
I sent a request to ReadtheDocs to unlink https://xesmf.readthedocs.io/.

If you agree, I would also send a request to github to detach the pangeo-data fork from JiaweiZhuang/xESMF.

[2021-11-16 15:03] huard commented on #133
Thanks for the report, the example and test file. We've a bit of a backlog at the moment, will try to look into it next week.

[2021-11-16 15:10] raphaeldussin commented on #6
wouldn't it create a confusion to detach? right now people can see the pangeo fork is a continuation of Jiawei's original work

[2021-11-16 15:52] raphaeldussin commented on #6
right!forgot about that. sure is annoying, go ahead then!

[2021-11-16 20:35] huard commented on #6
Done.

[2021-11-18 20:04] mtrimp2 commented on #133
Edit: Also experiencing the occasional incorrect value at latitude 0.

[2021-11-22 21:56] #117 closed

[2021-11-22 21:56] #127 closed

[2021-11-22 22:08] huard commented on #133
Hi @mtrimp2,

In the input file, there is only one value for ZLCL as well at lat=90 and -90.
[code]
which is expected because it's the pole. After interpolation, we get the same thing.
[code]
What value were you expecting ?

[2021-11-22 22:14] huard opened #137 "New release"
I suggest we make a 0.7.0 release soon, including notes suggesting to avoid 0.6.1.

[2021-11-22 22:17] huard commented on #137
My question is whether this should be a labeled 0.6.2 or 0.7.0 ?
@raphaeldussin @aulemahal

[2021-11-22 22:20] raphaeldussin commented on #137
`0.6.2` since we haven't introduce a new feature

[2021-11-22 22:22] aulemahal commented on #137
I agree with 0.6.2. The last PR changes things internally, but there's no real new feature associated with these changes. At least, none more than in 0.6.1.

[2021-11-22 22:26] huard commented on #137
Ok, opened PR, please review. Will merge tomorrow and issue the new release.

[2021-11-23 14:12] #137 closed

[2021-11-23 14:30] mtrimp2 commented on #133
Okay, ZLCL turned out to not be the best example. I will take instead V50M in the same file. The values I was expecting were in reference to the results I got from CDO tool I used to do the same regridding process on the same dataset.

If, for example, I print ds['V50M'][0,45,:] (corresponding to latitude 90 at time 0), I get [-1.823932, -1.823932, -1.823932, ... , -1.823932]. Meanwhile, on the da

[2021-11-23 15:18] raphaeldussin commented on #133
@mtrimp2 sorry we've been busing getting the new release out. Copy/paste here your cdo command and I'll give it a try. As @huard mentioned the poles are special cases and there can be different choices how to treat them. Have you tried the `ignore_degenerate` option of xesmf?

[2021-11-23 15:31] mtrimp2 commented on #133
Here are the regridded datasets. ignore_degenerate yields the same results in this case, unfortunately
[regridded_datasets.zip](https://github.com/pangeo-data/xESMF/files/7589187/regridded_datasets.zip)

[2021-11-23 15:37] huard commented on #133
V50M is a `northward_wind_at_50_meters`, so as you move along longitudes, what is defined as the "north" changes. I suspect this can be handled by the [ESMPy PoleMethod ](https://earthsystemmodeling.org/esmpy_doc/release/ESMF_8_0_1/html/PoleMethod.html#ESMF.api.constants.PoleMethod), but I don't think this option is exposed yet in xESMF.

If someone can confirm this will actually solve your issue,

[2021-11-23 15:56] raphaeldussin commented on #133
@mtrimp2 have you tried a quiver plot of remapped velocities on a polar stereographic projection?

[2021-11-25 19:45] aaronspring commented on #115
sounds like you have a path to a solution here @sol1105 ?

sounds reasonable to add at first

not sure whether a new keyword is welcome

do you think you could provide a PR which implements this by default?

[2021-12-15 18:12] huard opened #140 "Update test suite Python matrix"
We're currently testing for 3,6, 3.7 and 3.8.
I suggest we drop 3.6 and add 3.9 and 3.10

[2021-12-17 04:13] jhamman opened #141 "Creating weights from multiple threads/processes fails (ESMC_GridCreateNoPeriDim)"
**What happened**:

When using xesmf inside a parallel framework, an opaque error is raised. I've observed this behavior using dask's threaded and distributed schedulers.

**What you expected to happen**:

I expected to be able to use xesmf within multiple processes. Or, if this is not possible, a descriptive error and/or documentation on the subject.

**Minimal Complete Verifiable Example**:

Thi

[2021-12-17 05:26] rsdunlapiv commented on #141
@rokuingh can you please take a look

[2021-12-17 19:21] rokuingh commented on #141
I just tried to reproduce this issue, but was unable to install one of the dependencies, pooch, due to a number of sub dependency conflicts.

The rc code 545 generally indicates unmapped points. However, the log file has a message about a vm not being available.. which is a much more serious issue that is most likely due to something outside of ESMPy.

[2021-12-17 21:26] jhamman commented on #141
@rokuingh - if you have access to a conda (or mamba installation), this command will get you an exact replica of the environment this test was made in:

[code]

[2021-12-17 21:43] rsdunlapiv commented on #141
@jhamman We are happy to provide support for ESMPy, but we don't currently have the resources (or expertise) to support the additional layers within xESMF.  Could you please provide an ESMPy only reproducer that exhibits the issue?  We can definitely work from that.

[2021-12-18 03:57] jhamman commented on #141
@rsdunlapiv and @rokuingh - here's a reproducer that does not use xesmf or xarray.

[code]

[2021-12-20 04:35] rsdunlapiv commented on #141
@jhamman one question is whether we would even expect the second one to work.  I am not sure of the semantics of Dask 'single-threaded' versus 'threads'.  In general, ESMF is going to be multi-process, but not multi-threaded.  So Dask would need to give ESMF/ESMPy multiple MPI processes in order to run in parallel.  Can this be done through Dask?

[2021-12-20 06:17] jhamman commented on #141
@rsdunlapiv - I'm not sure if this should work or not. If its not supposed to work, it may be nice to put a thread lock in place, or alternatively, raise a more informative error.

Also, I think it would be good to restate my intended parallel behavior here. I want to generate regridding weights for two datasets in parallel. I do not want ESMF to do anything in parallel (or with MPI).

I will say

[2022-01-10 15:41] huard commented on #34
We're now maintainers of xesmf.readthedocs.org (in addition to pangeo-xesmf.readthedocs.org).

Unless someone has an objection, I'll point RtD to pangeo-data/xESMF.

[2022-01-13 19:19] huard commented on #34
Done. https://xesmf.readthedocs.io/ now points to the latest release.

[2022-01-21 14:58] melissaOu opened #142 "TypeError encountered on v0.6"
Has anyone encountered a typeError trying to run regridder? I am testing using version 0.6, I keep getting an int32 related error. I have also tried doing interpolation without xesmf using interp_like() and get the same error so I suspect it may be related. I was using Python v3.7. The regridder does work on version 0.3. My original application contained a much higher resolution, but get the same

[2022-01-21 16:55] huard commented on #142
Hi @melissaOu

You seem to be running Python 3.10, but xESMF is not tested against that version yet. We're testing against 3.6, 3.7 and 3.8. We'll certainly want to add 3.9 to our test suite though.

[2022-01-21 16:56] huard opened #143 "Update CI Python versions used"
I suggest we drop Python 3.6 and add Python 3.9.

[2022-01-21 19:14] melissaOu commented on #142
Thanks for the help! I have now tested successfully with Python 3.8 and letting conda select the xesmf version (which ends up being 0.6.2). I think me trying to specify 0.6 was leading to some issues. It also happens to be that with dropping Python down, doing the interpolation with just xarray and interp_like() worked, which it wasn't before. My guess is that the interp_like() and xesmf issues we

[2022-01-21 19:22] huard commented on #142
Excellent, will close the issue and there is a PR ready to test with 3.9 (#144)

[2022-01-21 19:22] #142 closed

[2022-01-21 21:04] #143 closed

[2022-01-21 21:05] #140 closed

[2022-01-21 21:06] huard opened #145 "Fix CI failure for 3.7"
Need to add a try/except stmt in smm.

[2022-01-25 12:07] mangecoeur opened #146 "'lat' 'lon' not accepted as regrid target dimension names with method="conservative""
Modifying the code from the [documentation](https://pangeo-xesmf.readthedocs.io/en/latest/notebooks/Rectilinear_grid.html#Prepare-data) to use method 'conservative' fails with `KeyError` (the snippet works fine for me with method='bilinear')

This fails with keyerror:

[code]

Renaming the target dataset dimensions to latitude, longitude makes it work.

[code]

Versions: xESMF 0.6.2, Python 3.9 (c

[2022-01-25 15:27] raphaeldussin commented on #146
Hi @mangecoeur

Conservative remapping needs the corner coordinates to properly compute the area of the cells. xesmf first look for variables `lon_b` and `lat_b` (bounds) in the dataset for this. Recent implementation of cf_xarray allows to lift this requirement (cf_xarray will build this for you). This is what it does for the input dataset. However, when you create the output dataset using lon/la

[2022-01-25 16:27] huard commented on #146
cf-xarray uses heuristics based on the CF convention to identify lats and lons: https://cf-xarray.readthedocs.io/en/latest/coord_axes.html#coordinate-names

I suggest we stick to those and not try to make guesses beyond those heuristics.

[2022-01-25 16:35] raphaeldussin commented on #146
I agree with you @huard but there may be a way to catch the error and return a more informative message?

[2022-01-25 17:03] aulemahal commented on #146
We could indeed catch any "KeyError" and tell the user that sometime might be wrong with the coordinate names/attrs.
I note that cf_xarray has a `guess_coord_axis` function that would have understood `lat` and `lon` as latitude and longitude. As this uses regex patterns and is a bit more arbitrary than the normal coord detection, it is not executed automatically. But we could refer to it in the do

[2022-01-31 13:38] mtrimp2 commented on #133
It is also worth noting, that when regridding the **entire** dataset, many variables yield different results. I tried to find a correlation to see if there is a sole issue (for example, the northward wind at 50m), but I do not believe it to be the case. Here is a complete output from nccmp diagnostics showing the differing variables, if that is helpful
[lears-mini_grass_global_regrid.json_comparis

[2022-01-31 14:31] #145 closed

[2022-01-31 14:31] #146 closed

[2022-02-08 15:05] jbusecke opened #149 "More options for `grid_global`"
I find myself using the utility function `xe.util.grid_global()` quite a bit, but was wondering if it would be possible to enable to change the default longitude convention (-180, 180) to e.g. (0,360). Its a minor thing, but this would help me with my current, very Pacific focused work.

Maybe this is already possible? If not, id be happy to submit a PR.

On a bit longer tangent: This functionalit

[2022-02-08 15:18] raphaeldussin commented on #149
I'm not too familiar with this function but I'll be happy to review a PR extending its capabilities

[2022-02-08 15:50] jbusecke commented on #149
Thanks Raph. Ill get to it sometime soon. Might have to wait until after Ocean Sciences.

[2022-02-08 15:50] jbusecke commented on #149
Could you assign me, just so I dont forget?

[2022-02-08 16:51] michaelerb opened #150 "Handling a polar singular with conservative regridding?"
Hi.  I am trying to regrid some model data, but I'm having trouble at the poles.  The model data is on a rectangular lat/lon grid with latitude values which range from -90 to 90.  All values at 90 are the same (ditto -90), as would be expected, since they're all the same location.  When I try to regrid using conservative regridding, I get a message that my latitude values are outside of [-90,90],

[2022-02-08 17:20] raphaeldussin commented on #150
@michaelerb there are a few options to deal with the poles. first make sure you use periodic=True then try ignore_degenerate=True

[2022-02-08 21:04] michaelerb commented on #150
Hi @raphaeldussin.  Thanks for the suggestions.  Unfortunately, neither one fixed the problem.  Are there any other suggestions?

[2022-02-09 14:58] raphaeldussin commented on #150
can you post a small example (ideally that do not need real data) that reproduces the problem?

[2022-02-14 14:21] mtrimp2 opened #151 "Regrid discrepancy between xESMF and CDO"
I am noticing a discrepancy between datasets regridded by xESMF and CDO with the same parameters. When regridding a global dataset, for example, most of the values are identical, with the exception of a few choice points on the globe (plot attached- note that I selected "center plot on zero", which is why the plot appears to have a scale from 0.0 - 0.0). The differences exist when regridded with b

[2022-02-15 13:27] jwynnsmith opened #152 "12+ hour downscaling?"
Hello all
Should I expect an xESMF python downscaling of a 5424 x 5424 grid to a 128x162 grid to take 12+ hours to run?  Am I not missing something or do I have something here that would slow down the run?
Here is the script below:

import numpy as np
import xesmf as xe
from netCDF4 import Dataset

data = np.genfromtxt('./glm_flash_freq_052019.csv', delimiter=',')
data = np.ma.masked_where(data <0

[2022-02-15 13:44] raphaeldussin commented on #152
Hi @jwynnsmith

I've run into similar problems when attempting large remapping such as yours. Unfortunately, at the moment xESMF can only call the ESMF Regrid algo in serial mode. I would like to see xESMF support the parallel weight generation using the MPI-enabled ESMF library but it's a big project and we don't have the bandwidth for this at the moment but contributions are welcome!

Fortunatel

[2022-02-15 15:23] jwynnsmith commented on #152
Hi @raphaeldussin
In the example command below from: https://xesmf.readthedocs.io/en/latest/large_problems_on_HPC.html

mpirun -np 720 ESMF_Regrid -s source.nc -d output.nc -m bilinear --src_var elevation --dst_var elevation --netcdf4

Is the source.nc file a netcdf file with our high resolution grid data and is the output.nc a netcdf file with the coordinates of our downscaled grid?
Thanks
Jonath

[2022-02-15 15:26] raphaeldussin commented on #152
that is correct! ESMF_Regrid will read your "destination" grid file (output.nc) and then overwrite it with the remapped data and keeping the lon/lat of the destination grid.

[2022-02-25 15:01] jwynnsmith commented on #152
@raphaeldussin and all
I implemented an ESMF_Regrid (see command below) and I where I have the high resolution satellite grid in the source.nc and the destination.nc file with an empty (all zeros) downscaled grid.  All of the settings are as suggested on the page you linked above. But I am left with the zero arrays in the destination.nc file after the run.  My high resolution data is on the order

[2022-02-28 17:22] markelg opened #153 "Current logic in the frontend prevents using the default filename"
Current logic in the frontend does not let me to use the default filename

[code]

I think it should try to load the weights from default filename instead of raising an error. Am I missing something?

The pattern used to build the default filename is good and useful. I can find some time to write a PR if you want.

[2022-03-02 16:12] trimpinm opened #154 "Inconsistent NaN value placements"
Once again I am having an issue with certain data points coming up as NaN when regridding with xESMF, and numerical values when regridded with cdo.

I have attatched data comparisons for the CLDTMP variable from each dataset.

As shown in the images, upon performing bilinear regridding, it seems that all of the values are identical save for a few choice data points (for example 0.0 longitude, 42 l

[2022-03-02 16:38] raphaeldussin commented on #154
I can see a couple of issues here:

1. did you provide a `mask` variable in your input dataset? without it specified explicitly, ESMF will treat NaNs the same way than regular values. I'll refer you to the documentation on this here:

https://xesmf.readthedocs.io/en/latest/notebooks/Masking.html

2. when you're remapping to a lower resolution, it could be preferable to use the `conservative_normed

[2022-03-02 16:39] raphaeldussin commented on #151
did this answer your question?

[2022-03-02 16:42] raphaeldussin commented on #152
I had cases where this happen, you may want to transfer the issue to https://github.com/esmf-org/esmf
maybe @rokuingh or others can help you with this?

[2022-03-02 16:48] raphaeldussin commented on #153
agreed, I think something in the logic has been broken. @huard and @aulemahal any thoughts on this?
One workaround is for you to specify explicitly the name of the weights file you want to write.

PRs are always welcome!

[2022-03-02 17:10] jwynnsmith commented on #152
@raphaeldussin Thank you!

[2022-03-02 17:19] aulemahal commented on #153
I agree that this would make sense! I don't think it ever worked, though, seems to me that the current behaviour was introduced when `reuse_weights` was introduced, but I might be mistaken.

It think it would be a matter of setting `self.filename` prior to this check and then add a check to see if the file exists.

[2022-03-03 13:29] mtrimp2 commented on #151
yes, thank you!

[2022-03-03 14:30] #151 closed

[2022-03-04 22:01] kthyng commented on #115
@aaronspring Do you know the status of using `xESMF` with unstructured grids? Thanks.

[2022-03-04 22:05] aaronspring commented on #115
Nope. Nothing more than the examples above

[2022-03-04 22:14] kthyng commented on #115
ok thanks.

[2022-03-10 18:30] mtrimp2 opened #157 "Is xesmf.util.grid_global() leaving out data at poles?"
I am attempting to use the grid_global function to define an output grid for global regridding. However, upon successful regridding it appears as though there is no data at the -90 and 90 degree latitude lines. I am not sure why. I have tried a variety of different resolutions, but none of them are able to preserve the data values. I am using the attached dataset, and I have included screenshots p

[2022-03-14 10:24] sol1105 commented on #157
Hi @mtrimp2,
`xesmf.util.grid_global()` does not leave out data at the poles, however, the poles are only included in the bounds and the north/southmost cell centers are therefore not 90.0 and -90.0. For example, creating a global grid with 1 degree resolution will yield bounds of [-90, -89] and cell centers at -89.5 for the soutmost row of cells.

I tried it out myself and the resulting plot incl

[2022-03-14 10:46] sol1105 commented on #150
Hi @michaelerb, this might be the same issue I encountered here #157, which I could avoid by providing the bounds for the input dataset myself (so they would not be calculated implicitly and possibly exceed [-90, 90] degrees latitude) or using the `conservative_normed` remapping method, or using the option `skip_na=True` when applying the weights. However the last two options affect the entire reg

[2022-03-15 13:21] mtrimp2 commented on #157
Thank you for this response! Would the bounds still have to be specified in a similar manner when implementing bilinear/nearest neighbor regridding? Or is this method only useful when it comes to conservative regridding?

[2022-03-15 15:37] sol1105 commented on #157
For methods other than conservative*, bounds do not have to be specified, and if they are, they are ignored.

[2022-03-17 12:33] zklaus opened #158 "Dependency refinement sparse, numba"
Currently, xESMF simply depends on `sparse`, with no lower bound, and does not depend on `numba` explicitly.
In conda-forge/esmvaltool-suite-feedstock#5 we ran into a problem where that leads to `numba` missing because older `sparse` builds do not depend on it.

I suggest that xESMF depends on `numba` itself since it is used in `smm.py` and thus a direct dependency.
I also wonder if you want to pl

[2022-03-18 00:36] michaelerb commented on #150
Thanks for the suggestions @sol1105.  The "conservative_normed" option seems to work, although I don't quite understand why.  I haven't tried the other options yet, but I will soon.  @sol1105 or @raphaeldussin: For global climate model output (quantities like monthly temperature or precipitation), is there a recommended approach?

To provide more information about my original question, here's some

[2022-03-21 19:48] mtrimp2 opened #159 "Wondering how xESMF handles switching coordinate systems?"
I am regridding global datasets using xESMF, and I have noticed that xESMF is able to understand switched coordinate systems automatically (ie. regridding a dataset with longitudinal range -180:180 to an output grid of 0:360). However, when it does so, I notice very small discrepancies in the western hemisphere only, shown below (likely results of the wrapping process). This is not a large issue,

[2022-03-24 15:04] raphaeldussin commented on #158
@zklaus that sounds like a good solution, what lower bound for `sparse` are you thinking of?

[2022-03-26 15:58] zklaus commented on #158
@raphaeldussin, I don't know about the lower bound on `sparse`. My thinking was that a lower bound on sparse might pull in numba automatically, but also, I know that sparse has undergone substantial development and I am not sure which version is the oldest that you have done your tests with.

If you add the numba dependency (as I think you should because you are using it directly), there is no tec

[2022-04-27 17:25] guigrpa opened #165 "Support for ARM architecture for M1 Mac (OS X)"
Sorry if this has been asked elsewhere (I couldn't find it). Are there plans to support ARM binaries for M1 Macs?

[2022-05-13 09:25] Levin000 commented on #165
maybe it's the question of **esmpy** which depended by xesmf.
![Uploading 1.png…]()
<img width="762" alt="2" src="https://user-images.githubusercontent.com/23720899/168253889-a9acbd14-bca7-46bb-92c7-383ff402b0fe.png">

[2022-05-13 16:16] huard commented on #165
@rokuingh Are there plans for ESMpy to be built on ARM?

[2022-05-13 19:46] aulemahal opened #167 "Regridding drops coordinates"
When regridding, any coordinate other than `lon` and `lat` are lost.

MWE:
[code]
Where you see: `Dimensions without coordinates: y, x`. However, these coordinates exist on `ds_out`, they just were not passed to the output.

This could be solved by saving the coordinates or `ds_out` that share dimensions with `lon` and `lat` and then assigning them back after the regridding. Should be simple, no?

[2022-05-18 17:12] #158 closed

[2022-05-18 18:46] huard commented on #153
The filename logic dates back to the time ESMF wrote the weights to file, and xESMF had to read them from disk. About two years ago, ESMF introduced a mechanism to share the weights in memory. The current code is the result of trying to support both the older file-based and memory-based approaches without breaking legacy code.

I'm not sure I would want xESMF to automatically read from a default f

[2022-05-19 19:22] rokuingh commented on #165
@huard  we don't currently have plans for this, but I added a feature request. Unfortunately the ESMF support repo is private but someone will contact you when this issue is prioritized.

[2022-06-01 21:51] tomvothecoder opened #170 "`numba` isn't included in `v0.6.2` conda-forge feedstock recipe"
`numba` is introduced as a new dependency in `v0.6.2`.

The `setup.py` file includes `numba`, so the PyPI release works fine:
https://github.com/pangeo-data/xESMF/blob/860311345212c3e5f52d08335eb758cf903d6787/setup.py#L23-L31

However, the conda-forge feedstock recipe does not include `numba`:
https://github.com/conda-forge/xesmf-feedstock/blob/fe72c86a62ed48b698eeb8e58acc50817bd954fc/recipe/meta.

[2022-06-02 12:09] aulemahal commented on #170
Sorry about that. Numba  is direct dependency of recent versions of sparse, which is an explicit dependency of xESMF 0.6.2. However, I didn't know that older versions of sparse did not use numba. This issue was solved with #168, but we have not released a new xESMF since.

[2022-06-02 16:12] tomvothecoder commented on #170
No problem @aulemahal, I just wanted to make sure this was noted! I appreciate the quick update.

[2022-06-28 23:06] jbusecke commented on #170
I am running into the same issue over at https://github.com/jbusecke/cmip6_preprocessing/runs/7102175665?check_suite_focus=true. Any chance for a bugfix release + conda-forge bump? Or is anything blocking that. Happy to help.

[2022-06-29 19:12] #167 closed

[2022-06-29 19:52] raphaeldussin commented on #170
@aulemahal go for it!

[2022-06-30 14:25] huard commented on #170
0.6.3 now available on conda.

[2022-06-30 14:25] #170 closed

[2022-07-05 15:31] zxdawn opened #180 "Generate boundary automatically based on centers"
Usually the satellite data only have the pixel center data, it would be nice to generate the boundary automatically. Here's one [example](https://gist.github.com/zxdawn/49c73e4d1ef9043580644e57eaa16d83) using xgcm to create the boundary arrays.

BTW, we want to [support xESMF conservative regridder in pyresample](https://github.com/pytroll/pyresample/issues/440#issuecomment-1175191749). The auto b

[2022-07-05 15:41] aulemahal commented on #180
If you data is using a regular `lat` and `lon`  grid (both coordinates being 1D), then [`cf-xarray` has a function for that](https://cf-xarray.readthedocs.io/en/latest/generated/xarray.Dataset.cf.add_bounds.html?highlight=add_bounds#xarray.Dataset.cf.add_bounds)! Moreover, this function is already used by `xESMF` when bounds are missing.

There is an issue there for extending the function to 2D co

[2022-07-05 20:09] zxdawn commented on #180
Thanks. I have mentioned the xgcm to cf-xarray issue. Should I keep this open until it's supported?

[2022-07-07 13:01] spencerkclark opened #181 "`xesmf.util.grid_global` can generate points outside the expected domain"
I'm guessing there can be a smaller example than this, but I encountered this recently in my work.  Notice that there is a longitude center coordinate greater than 180 degrees:

[code]

More generally I'm +1 on @jbusecke's suggestion for more options in `grid_global` in #149; perhaps this issue could be kept in mind in such a refactor.

[2022-07-07 15:14] jbusecke commented on #181
I have been wondering about this more. Perhaps this should not even be a functionality of xesmf?
Should there be a stand alone package that can create these sorts of grids, but also add grid metrics (cell area, distance between different grid positions)? Climate models generate these routinely, I wonder if there is a way to expose this functionality in a user friendly python package.
This would ce

[2022-07-07 21:25] spencerkclark commented on #181
Indeed a more general purpose grid generation tool would be nice.  It seems like the `grid_global` utility in xESMF was largely designed around making it easy to construct examples for documentation and testing, which is probably fine to leave as is.  I agree given that it would be natural to include additional functionality to a more general tool that it would probably make sense for it to live o

[2022-07-08 16:40] jbusecke commented on #181
also cc @dcherian

[2022-07-08 19:08] huard commented on #180
I suggest to close this and open a new issue once there is functionality ready in cf-xarray that can be integrated here.

[2022-07-08 19:57] #180 closed

[2022-07-15 16:32] dcherian opened #182 "link up efforts with Iris team"
I just chatted with @bjlittle who pointed me to https://github.com/SciTools-incubator/iris-esmf-regrid

It seems like we should explore a merger of the two efforts. It'd be nice to have a single dask-aware ESMF wrapper that can be used with both Xarray and Iris since both communities are solving the same problems.

[2022-07-19 14:00] huard commented on #182
@dcherian Good idea !

We used to, but there hasn't been one in a while.

@raphaeldussin @stefraynaud @sol1105 Are you around over the next two weeks &

[2022-07-19 14:04] raphaeldussin commented on #182
@huard I'm around

[2022-07-19 19:47] huard commented on #182
@raphaeldussin @stefraynaud @sol1105 @dcherian @bjlittle

Please fill this poll: https://www.when2meet.com/?16178590-HJ6E6 before Thursday.

[2022-07-22 13:41] bjlittle commented on #182
Hey guys, thanks for setting this up. Apologies for the tardy response 😄

I just spoke to the lead developer on [iris-esmf-regrid](https://github.com/SciTools-incubator/iris-esmf-regrid) @stephenworsley and we both filled out the poll.

Hope we can all manage to hangout next week. Cheers! 👍

[2022-07-22 15:33] dcherian commented on #182
TO help with scheduling, I don't think I really have to attend this meeting. It'd be nice to prioritize more xesmf maintainers attending.

[2022-07-25 08:55] bjlittle commented on #182
Thanks for organising the meeting @huard

I'll forward the invite on to @stephenworsley 👍

[2022-07-27 14:22] zklaus opened #183 "PyPI distribution name"
In using xesmf, we run into a problem because the distribution name on PyPI now is `pangeo-xesmf`, but the distribution name on the Github releases as well as the conda-forge releases is xesmf. That means that there is no consistent way to specify the xesmf dependency in both `setup.py` for pip installability and conda-forge's `meta.yml` for conda-forge installs.

I understand that there is a prob

[2022-07-28 15:46] tomvothecoder opened #185 "“ImportError: Numba needs NumPy 1.21 or less”"
## Overview
Hi, some [xcdat](https://github.com/xCDAT/xcdat) developers are running into an issue where incompatible versions of `numba` and `numpy` are being installed together. The `xcdat` package depends on `xesmf`, which depends on `numba`.

## Root Cause
The `numba` conda recipe does not properly constrain the compatible `numpy` version based on the `numba` version.

There are related GH issu

[2022-08-17 22:56] rokuingh commented on #165
@huard a port for ARM64 has been added to the upcoming patch release 8.3.1, this will show up in conda-forge when it is available.

[2022-08-18 12:09] KashyapAnurag opened #188 "INSTALLATION ERROR"
I am trying to install xESMF using code "conda install -c conda-forge xesmf" it is showing following error:

![image](https://user-images.githubusercontent.com/91251342/185389921-a30e1625-d3fa-4096-8a75-c5b2fe309bfe.png)

I have tried installing it in new environment too, but didn't worked. Please help me installing it.

[2022-08-18 14:57] aulemahal commented on #188
Hi @KashyapAnurag , I'm not sure I see an error in your image.  It's not unusual for conda to have these "failures" during the solve, but in the output you show, conda hasn't completed yet, so we can't say it won't succeed?

However, you seem to be on Windows? Have you seen this part of the documentation : https://pangeo-xesmf.readthedocs.io/en/latest/installation.html#notes-for-windows-users
(Pro

[2022-08-19 02:53] KashyapAnurag commented on #188
Sir, i just posted the picture for the reference, it actually failed many times. So please check the issue.  Meanwhile I was trying to install xesmf for regridding, so if you can tell the alternative to it, it will be appreciable. Moreover, I am working on bias correction, so if possible please help me in this too! Thank you in advance.

[2022-08-19 13:54] aulemahal commented on #188
I see. It just wasn't clear to me from your post and image that it completely failed, instead of just hanging (which is something conda tends to do).

The alternative to installing `xESMF` directly through conda in a normal way is, for windows users, to follow the advices in the doc.
Otherwise an alternative to `xESMF` altogether is to use `scipy.interpolate.griddata`, but it's clearly more comple

[2022-09-02 16:24] zmoon opened #189 "Failure to import on Python 3.6 due to cf-xarray"
I don't mean to suggest that people should still be using Python 3.6, but I noticed this issue in https://github.com/noaa-oar-arl/monet/pull/114.

Basically, up until and including v0.7.2, cf-xarray still purported to support Python 3.6, but they started using `from __future__ import annotations` in v0.7.0. So on Python 3.6, cf-xarray v0.7.2 gets installed for xESMF and then `xesmf` fails to impor

[2022-09-02 16:52] aulemahal commented on #189
For python and numpy dependencies, `xESMF` follows the rest of the "xarray" ecosystem ([xarray](https://docs.xarray.dev/en/stable/getting-started-guide/installing.html#minimum-dependency-versions), [numpy](https://numpy.org/neps/nep-0029-deprecation_policy.html) ). So using python 3.6 and python 3.7 with latest versions is indeed risky.

However, we haven't update the minimum versions, so it shoul

[2022-09-02 16:56] zmoon commented on #189
Yes, from my brief investigation it looks like they should have set minimum Python to 3.7 for their v0.7.0 release.

[2022-09-02 17:03] zmoon commented on #189
Note that 0.7.0 is affected as well and they are noarch builds, so can't just remove py36 ones.

[2022-09-07 13:42] danielmwatkins commented on #188
I'm also having issues with installation using conda. I'm using Python 3.9.12 on MacOS 12.4. When I run conda install, I get an "UnsatisfiableError" but no explanation appears. Is xESMF incompatible with Python 3.9.12?
![image](https://user-images.githubusercontent.com/8204369/188893351-c36d0162-81f7-473b-85a9-5c461b23da38.png)

[2022-09-07 15:33] aulemahal commented on #188
Hi @danielmwatkins ,
is there a reason for your use of a specific conda-forge label? When I look at the repo, I see that this label provides xESMF 0.3.0, which is wildly out-of-date. I'm not completely sure why it would be incompatible/unsatisfiable, but we won't be able to help you as much with an old version like this one.
Haha, it's so old that it came out a few months _before_ python 3.9.  So,

[2022-09-07 17:31] danielmwatkins commented on #188
Thanks for your reply! I should have copied and pasted the first attempt -
the output was exactly the same, this was just trying another approach
based on the conda-forge listing. I had initially tried just "conda install
-c conda-forge xesmf".

I tried the command with xesmf==0.6.3 and it failed three environment
solves, then said
"Found conflicts! Looking for incompatible packages.

This can tak

[2022-09-07 20:43] RondeauG opened #194 "API is broken in the documentation"
Both the User and Internal APIs appear empty in the documentation:
https://xesmf.readthedocs.io/en/latest/user_api.html & https://xesmf.readthedocs.io/en/latest/internal_api.html

[2022-09-09 16:53] dcherian commented on #189
Ooops what should I do?

[2022-09-10 11:38] zmoon commented on #189
Perhaps removing 0.7.2 and 0.7.0 from conda-forge archive as was suggested could be a good partial solution.

[2022-09-13 06:52] KashyapAnurag opened #195 "Error in opening dataset from Pangeo- Intake-ESM"
In google colab, while opening the datasets of Pangeo, I am getting the error as attached below. FYI I have given the complete code:

1.    Installations and Imports
                  !pip install astropy>=3.1
                  !pip install sunpy
                  !pip install intake-esm
                  import intake
2. Code for data:

url= "https://cmip6.storage.googleapis.com/pangeo-cmip6.json

[2022-09-13 13:58] aulemahal commented on #195
I think you posted this in the wrong repo? This question looks like either a Google Colab issue or an Intake-esm one.
As far as I understand, `pip` shouldn't have installed `intake-esm` without updating "requests", so the issues revolves around this. Good luck!

[2022-09-13 13:58] #195 closed

[2022-09-27 18:45] jdldeauna opened #197 "Value Error when using bilinear interpolation method"
Hi! I was using the `bilinear` method and kept encountering an error message:

[code]
Error:
[code]
Fortunately @jbusecke guided me to a solution:
[code]
I was wondering if the error message could be edited to reflect that adding the kwarg `ignore_degenerate=True` resolves it? Its difficult to work out how to resolve the issue with the existing `ValueError` message. Thanks!

[2022-09-28 12:14] jbusecke commented on #197
I just wanted to chime in and say that this could be very helpful for the broader community. Since I found the workaround at some point in the past, I have interacted with many folks who experienced this issue.

Also many thanks for raising this issue @jdldeauna!

[2022-09-28 14:39] sol1105 commented on #197
Hi @jdldeauna ,

this problem is caused by the data having been published on a grid which still contains the grid halo (rows or columns of duplicated grid cells), which is required during the model run. The grid halo cells are often not properly defined and are collapsing to lines or points and are only sharing the cell centers with their original, which then leads to this `ValueError` in ESMF (se

[2022-09-28 16:41] jdldeauna commented on #197
Thank you for the comprehensive reply @sol1105 ! Maybe the error message from `xesmf` could be improved to help users figure out these possible workarounds? Just referring to the log file is confusing esp if users are not too familiar with how `xesmf` works internally.

[2022-10-08 15:28] PBrockmann opened #199 "Documentation is missing conservative_normed"
I have really appreciated the documentation.
Perhaps a small update about the different regridding algorithms.
There is finally 6 of them.
    - 'bilinear'
    - 'conservative', **need grid corner information**
    - 'conservative_normed', **need grid corner information**
    - 'patch'
    - 'nearest_s2d'
    - 'nearest_d2s'

In documentation, https://xesmf.readthedocs.io/en/latest/notebooks/Compa

[2022-10-11 13:09] PBrockmann commented on #199
My suggestion would be to make visible the bindings between xESMF and ESMF.

The different methods (6 and not 5).
       'bilinear': ESMF.RegridMethod.BILINEAR,
       'conservative': ESMF.RegridMethod.CONSERVE,
       'conservative_normed': ESMF.RegridMethod.CONSERVE,
       'patch': ESMF.RegridMethod.PATCH,
       'nearest_s2d': ESMF.RegridMethod.NEAREST_STOD,
       'nearest_d2s': ESMF.RegridMe

[2022-10-11 14:28] raphaeldussin commented on #199
Hi @PBrockmann ,

We'd be happy to take a pull request with your suggestions for documentation improvements.

Thanks for your input!

[2022-10-14 15:17] aaron-kaplan opened #200 "JiaweiZhuang repo is confusing"
Apparently this repo (pangeo-data/xESMF) is where releases to ~PyPI and~ conda-forge are coming from now, but [JiaweiZhuang/xESMF](https://github.com/JiaweiZhuang/xESMF) doesn't say anything about the move, is still the first hit from Google when I search for "xesmf github", and still has open issues and pull requests, some opened in the past month. Likewise, https://xesmf.readthedocs.io/en/latest

[2022-10-14 15:25] aulemahal commented on #200
The former owner has disappeared into another dimension, or so it seems.
Are you suggesting renaming to something else than xESMF?

Could we instead simply take down the repo, pypi package and/or the RTD website? May be those organizations have some way of removing ghost content like that?

[2022-10-14 15:47] aaron-kaplan commented on #200
I stand corrected about PyPI. I thought I had seen new releases there, but after seeing your reply I checked again and indeed it hasn't been updated since 2020. That's even worse :-(. You're actually squatting somebody else's project name on conda-forge.

If you can get github, pypi, and rtd to give you control of the old projects, that would be great. You could change the README on github to dire

[2022-10-14 18:18] raphaeldussin commented on #200
@aaron-kaplan back in 2019/2020 @JiaweiZhuang asked xesmf contributors to take on maintainers role so he can focus on his personal research projects. Unfortunately shortly after we lost contact with him and the activity on his repos seem to have stopped. We are slowly taking  ownership over pip, conda, rtd but this requires a certain time of inactivity for projects to be transferred, which seems p

[2022-10-14 18:20] #200 closed

[2022-11-14 21:21] dcherian opened #202 "Create Regridder object from existing ESMF weights file"
This is a common request ([example](https://github.com/UXARRAY/uxarray/issues/172)) because at many modelling centers, a remapping files is generated once and stored in a common location and used by other tools (e.g. NCL).

So my question: Is it possible to create a `Regridder` object from an existing ESMF weights file. This would generalize this bit of code: https://xesmf.readthedocs.io/en/latest

[2022-11-15 20:12] raphaeldussin commented on #202
@dcherian yes! use `reuse_weights=True` and `filename=wgts.nc` or `weights=`, as arguments to the regridder.
you still need to pass the source and target grid but you could just make them empty arrays of the right dimensions.

[2022-11-23 21:30] #194 closed

[2022-11-23 21:32] huard commented on #199
Now fixed. Thanks for the suggestion.

[2022-11-23 21:32] #199 closed

[2022-11-23 21:34] huard commented on #188
I suppose it is, see https://github.com/pangeo-data/xESMF/issues/165

[2022-11-23 21:34] #188 closed

[2022-11-23 21:36] huard commented on #165
@guigrpa Do you want to give it a try now ?

[2022-11-23 21:38] huard commented on #197
@jbusecke Please do submit a PR for this, we should be able to give it a quick review.

[2022-11-23 21:50] huard commented on #189
@aulemahal Ok to close this and let cf-xarray devs deal with this ?

[2022-11-25 09:02] guigrpa commented on #165
I will definitely try it out, probably when I come back to this feature of our project in a month or so. Thanks!

[2022-11-30 15:39] #149 closed

[2022-11-30 15:46] #181 closed

[2022-11-30 15:47] #185 closed